<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CozyClave</title>
</head>

<body>
    <h3>Create a New Listing</h3>
    <form action="/listings" method="post">
        <label for="title">Title</label>
        <input type="text" name="listing[title]" id="title" placeholder="Enter Title" required><br><br>
        <label for="description">Description</label>
        <textarea name="listing[description]" id="description" placeholder="Enter Description"> </textarea><br><br>
        <label for="image">Image</label>
        <input type="text" name="listing[image]" id="image" placeholder="Enter Image URL"><br><br>
        <label for="price">Price</label>
        <input type="number" name="listing[price]" id="price" placeholder="Enter Price" required><br><br>
        <label for="location">Location</label>
        <input type="text" name="listing[location]" id="location" placeholder="Enter Location" required><br><br>
        <label for="country">Country</label>
        <input type="text" name="listing[country]" id="country" placeholder="Enter Country" required><br><br>
        <button type="submit">Create Listing</button>
    </form>
</body>

</html>